<h1>Books</h1>

<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td>トラブル知らずのシステム設計</td>
         <td>システム設計の要点を図解で説明してくれます</td>
         <td><a class="show_82779" href="/books/82779">Show</a></td>
         <td><a class="edit_82779" href="/books/82779/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82779" rel="nofollow" data-method="delete" href="/books/82779">Destroy</a></td>
      </tr>
      <tr>
         <td>たのしいRuby</td>
         <td>Rubyの入門におすすめです</td>
         <td><a class="show_82780" href="/books/82780">Show</a></td>
         <td><a class="edit_82780" href="/books/82780/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82780" rel="nofollow" data-method="delete" href="/books/82780">Destroy</a></td>
      </tr>
      <tr>
         <td>入門Git</td>
         <td>gitについての基本操作から内部構造まで解説してくれます</td>
         <td><a class="show_82781" href="/books/82781">Show</a></td>
         <td><a class="edit_82781" href="/books/82781/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82781" rel="nofollow" data-method="delete" href="/books/82781">Destroy</a></td>
      </tr>
      <tr>
         <td>アルゴリズム図鑑</td>
         <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
         <td><a class="show_82782" href="/books/82782">Show</a></td>
         <td><a class="edit_82782" href="/books/82782/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82782" rel="nofollow" data-method="delete" href="/books/82782">Destroy</a></td>
      </tr>
      <tr>
         <td>達人プログラマー</td>
         <td>プログラマ入門者は必読！</td>
         <td><a class="show_82783" href="/books/82783">Show</a></td>
         <td><a class="edit_82783" href="/books/82783/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82783" rel="nofollow" data-method="delete" href="/books/82783">Destroy</a></td>
      </tr>
      <tr>
         <td>データベース実践入門</td>
         <td>効率的なSQL文を教えてくれます</td>
         <td><a class="show_82784" href="/books/82784">Show</a></td>
         <td><a class="edit_82784" href="/books/82784/edit">Edit</a></td>
         <td><a data-confirm="Are you sure?" class="destroy_82784" rel="nofollow" data-method="delete" href="/books/82784">Destroy</a></td>
      </tr>
    </tbody>
</table>

<h2>New book</h2>
