<h1><stronga>Books</stronga></h1>


<h2>New book</h2>
<%= form_with model: @book,ul:'/books',method: :pos do |f| %>
  
  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
  
<% end %>

